var activityModal = $('#activity-modal');

activityModal.empty();
activityModal.append('<button class="close">close</button>');

<% if @category == 'play' %>
  activityModal.css('background', '#f7e8a0')
<% elsif @category == 'stay' %>
  activityModal.css('background', '#29666f')
<% else @category == 'eat' %>
  activityModal.css('background', '#ff3e4d')
<% end %>

activityModal.append('<%= j(render partial: "editform", locals: {getaway: @getaway}) %>');

if (activityModal.find('.new-autocomplete').length === 0) {
  activityModal.find('#autocomplete').replaceWith($('.new-autocomplete'));
  $('.new-autocomplete').show();
}

$('.modal').show();
