$purple: #442953;
$purple-light: #992356;
$red: #ff3e4d;
$dark-green: #29666f;
$light-green: #00968f;
$yellow-light: #f7e8a0;
$white: #fff;

img { max-width: 100%; }
a { text-decoration: none }
body {
  font-family: "omnes-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

//::::::::::::::::::TOP BAR:::::::::::::::::::::::::::::

#top-bar {
  background: $purple;
  width: 100%;
  float: left;
  height: 50px;
  padding: 20px 0 0 0;
}

.logo {
  float: left;
  font-family: "bree",sans-serif;
  font-size: 28px;
  color: $red;
}

.navigation {
  position: absolute;
  right: 0;
  font-family: "omnes-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 6px 0;
}

.navigation a {
  color: $red;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
}

//::::::::::::::::::LOG-IN:::::::::::::::::::::::::::::

#user-auth-modal, #sign-up-modal {
  position: absolute;
  top: 1%;
  left: 33%;
  z-index: 1000;
  display:none;
  width: 300px;
  height: 200px;
  padding: 60px;
  margin: 100px auto;
  background: $purple-light;
}

#sign-up-modal {
  height: 370px;
}

button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  color: $white;
}

#user-auth-modal, #sign-up-modal {
  margin: 80px 0 0 30px;
}

#user-auth-modal label, #sign-up-modal label {
  color: #fff;
  font-size: 16px;
  padding: 5px;
}

#user-auth-modal input, #sign-up-modal input {
  display: block;
  padding: 10px;
  margin: 10px;
  color: #ccc;
  border: none;
  width: 220px;
}

button.login-button {
  background-color: $yellow-light;
  border: none;
  padding: 10px;
  margin-left: 10px;
  color: $purple;
  float: left;
}

button.login-button:hover {
  opacity: .85;
}

.modal h1 {
  color: $white;
  font-weight: 400;
  margin: 0;
}

.modal .form-submit {
  background-color: $yellow-light;
  color: $purple!important;
  margin-top: 40px;
}

//::::::::::::::::::HOME PAGE:::::::::::::::::::::::::::::

#welcome {
  min-height: 800px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: image-url("hawaiinight.jpg");
  background-size: cover;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;

}

.welcome-message {
  font-size: 60px;
  font-weight: 200;
  color: #FFF;
  text-align: center;
  padding: 200px 100px 60px 100px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.welcome-subhead {
  text-align: center;
  font-size: 24px;
  color: #FFF;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.sign-up {
  text-align: center;
  padding: 20px;
}

.sign-up a {
  color: $purple;
  font-size: 60px;
  font-weight: 200;
  transition: all 0.4s ease;
  background-color: rgba(247, 232, 160, 0.8);
  padding: 0 50px 20px 50px;
  border-radius: 50px;
}

.sign-up a:hover {
  background-color: rgba(247, 232, 160, 1.0);
  padding: 0 70px 20px 70px;
}




//::::::::::Feed Search Friends:::::::::::::::::::

.feed-modal {
  background-color: $yellow-light;
  color: $purple!important;
  margin-top: 40px;
  position: center;
  margin-left: 250px;
  margin-right: 250px;
}

.name img {
  width: 250px;
  height: 250px;
  border: 5px solid white;
}
.name {
  text-align: center;
  color: rgba(145, 27, 192, 0.84);
}
#button {
  display: block;
  text-align: center;

//::::::::::::::::::NEW GETAWAY:::::::::::::::::::::::::::::

#departure-date-div, #comment-div {
  display: none;
}

p#date-placeholder, p#comment-placeholder {
  color: gray;
}

#new-getaway-modal {
  position: absolute;
  top: 1%;
  left: 33%;
  z-index: 1000;
  display:none;
  width: 300px;
  height: 200px;
  overflow: scroll;
  padding: 60px;
  margin: 100px auto;
  background: white;
}

.place-option {
  padding: 10px;
}


.place-option:hover {
  background: black;
  color: whitesmoke;
}
